---
import { LL } from '@utils/i18n';
import Facebook from './facebook.astro';
import Youtube from './youtube.astro';
import Tiktok from './tiktok.astro';
import FacebookReel from './facebook-reel.astro';
import InstagramReel from './instagram-reel.astro';
import LinkedinProfile from './linkedin-profile.astro';
import XProfile from './x-profile.astro';
---

<div id="how-it-works" class="mx-auto mt-24 mb-24 md:mt-0">
	<h2 class="text-primary max-w-2xl text-4xl font-extrabold tracking-tight md:text-5xl">
		{LL.landingPage.howItIsBeingUsed.title()}
	</h2>
	<p class="text-muted-foreground mt-6 max-w-2xl text-xl">
		{LL.landingPage.howItIsBeingUsed.subtitle()}
	</p>

	<div class="mt-16 flex flex-col gap-y-20 md:mt-24 md:gap-y-32">
		<Facebook />
		<Youtube />
		<div role="presentation" aria-labelledby="decorative-label-for-short-form-video">
			<h3
				id="decorative-label-for-short-form-video"
				class="text-primary mx-auto mb-12 max-w-lg text-center text-2xl font-bold"
			>
				{LL.landingPage.howItIsBeingUsed.shortFormVideo()}
			</h3>
			<div
				class="grid grid-cols-1 place-items-center gap-x-14 gap-y-12 md:grid-cols-2 lg:grid-cols-3"
			>
				<FacebookReel />
				<Tiktok />
				<div class="md:col-span-2 md:justify-self-center lg:col-span-1 lg:justify-self-auto">
					<InstagramReel />
				</div>
			</div>
		</div>

		<div role="presentation" aria-labelledby="decorative-label-for-social-media-profile">
			<h3
				id="decorative-label-for-social-media-profile"
				class="text-primary mx-auto mb-14 max-w-lg text-center text-2xl font-bold"
			>
				{LL.landingPage.howItIsBeingUsed.socialMediaProfile()}
			</h3>
			<div class="grid grid-cols-1 justify-items-center gap-12 lg:grid-cols-2">
				<LinkedinProfile />
				<XProfile />
			</div>
		</div>

		<p class="mx-auto -mt-12 max-w-3xl text-center font-semibold">
			{LL.landingPage.howItIsBeingUsed.outro()}
		</p>
	</div>
</div>
