---
import { Button } from '$lib/components/ui/button/index.js';

import { LL } from '@utils/i18n';
import { unleash } from '@utils/unleash';
import { ArrowRight, CheckCircle, Link } from 'lucide-astro';

const isUserAuthenticationEnabled = unleash.isEnabled('userAuthentication');
---

<section class="py-20 sm:px-4">
	<div class="mx-auto max-w-4xl">
		<div
			class="relative overflow-hidden rounded-2xl border border-none border-gray-100 bg-background p-12 text-center"
		>
			<div class="absolute inset-0 bg-gradient-to-br from-primary/0 via-primary/5 to-primary/10">
			</div>
			<div class="relative z-10">
				<div
					class="mb-6 inline-block rounded-full bg-primary/10 px-4 py-1 text-sm font-medium text-primary"
				>
					{LL.landingPage.callToAction.itsFree()}
				</div>
				{
					isUserAuthenticationEnabled ? (
						<>
							<h2 class="mb-6 text-3xl md:text-4xl">{LL.landingPage.callToAction.title()}</h2>
							<p class="mx-auto mb-8 max-w-2xl text-xl text-gray-600 dark:text-gray-300">
								{LL.landingPage.callToAction.subtitle()}
							</p>
							<Button href={import.meta.env.PUBLIC_SIGN_UP_PAGE_URL} size="2xl" class="shadow-lg">
								{LL.landingPage.callToAction.getStarted()}
								<ArrowRight class="ml-2 w-5" />
							</Button>
						</>
					) : (
						<h2 class="my-4 mb-6 text-3xl md:text-4xl">
							{LL.landingPage.callToAction.inComingMessage()}
						</h2>
					)
				}

				<div class="mt-8 flex flex-wrap justify-center gap-5">
					{
						Object.values(LL.landingPage.callToAction.tickItem).map((item) => (
							<div class="flex items-center rounded-full bg-white/70 px-3 py-1.5 text-sm text-gray-600 shadow-sm">
								<CheckCircle size={14} class="mr-2 text-primary" />
								{item}
							</div>
						))
					}
				</div>
			</div>

			<div class="absolute left-0 top-0 -ml-10 -mt-10 h-32 w-32 rounded-full bg-secondary/15"></div>
			<div class="absolute bottom-0 right-0 -mb-10 -mr-10 h-40 w-40 rounded-full bg-primary/10">
			</div>
		</div>
	</div>
</section>
