---
import { Button } from '$lib/components/ui/button/index.js';

import { LL } from '@utils/i18n';
import { unleash } from '@utils/unleash';
import { ArrowRight, CheckCircle, Link } from 'lucide-astro';

const isUserAuthenticationEnabled = unleash.isEnabled('userAuthentication');
---

<section class="py-20 sm:px-4">
	<div class="mx-auto max-w-4xl">
		<div
			class="bg-background relative overflow-hidden rounded-2xl border border-none border-gray-100 p-12 text-center"
		>
			<div class="from-primary/0 via-primary/5 to-primary/10 absolute inset-0 bg-linear-to-br">
			</div>
			<div class="relative z-10">
				<div
					class="bg-primary/10 text-primary mb-6 inline-block rounded-full px-4 py-1 text-sm font-medium"
				>
					{LL.landingPage.callToAction.itsFree()}
				</div>
				{
					isUserAuthenticationEnabled ? (
						<>
							<h2 class="mb-6 text-3xl md:text-4xl">{LL.landingPage.callToAction.title()}</h2>
							<p class="mx-auto mb-8 max-w-2xl text-xl text-gray-600 dark:text-gray-300">
								{LL.landingPage.callToAction.subtitle()}
							</p>
							<Button href={import.meta.env.PUBLIC_SIGN_UP_PAGE_URL} size="2xl" class="shadow-lg">
								{LL.landingPage.callToAction.getStarted()}
								<ArrowRight class="ml-2 w-5" />
							</Button>
						</>
					) : (
						<h2 class="my-4 mb-6 text-3xl md:text-4xl">
							{LL.landingPage.callToAction.inComingMessage()}
						</h2>
					)
				}

				<ul class="mt-8 flex flex-wrap gap-5 sm:justify-center">
					{
						Object.values(LL.landingPage.callToAction.tickItem).map((item) => (
							<li class="flex items-center rounded-full bg-white/70 px-3 py-1.5 text-left text-sm text-gray-600 shadow-xs">
								<CheckCircle size={14} class="text-primary mr-3 shrink-0" aria-hidden="true" />
								{item}
							</li>
						))
					}
				</ul>
			</div>

			<div
				class="bg-secondary/15 absolute top-0 left-0 -mt-10 -ml-10 h-32 w-32 rounded-full"
				aria-hidden="true"
			>
			</div>
			<div
				class="bg-primary/10 absolute right-0 bottom-0 -mr-10 -mb-10 h-40 w-40 rounded-full"
				aria-hidden="true"
			>
			</div>
		</div>
	</div>
</section>
