---
import Footer from '@components/footer.astro';
import Navbar from '@components/navbar.astro';

import { SEO } from 'astro-seo';
import { LL } from '@utils/i18n';

// import '../app.postcss';
import './src/styles/global.css';

import Analytics from '@components/analytics/analytics.astro';
import NoScripts from '@components/analytics/no-scripts.astro';

interface Props {
	title: string;
	description: string;
	keywords: string;
	lonely?: boolean;
}

const { title, description, keywords, lonely = false } = Astro.props;

const makeTitle = title ? `${title} | ${LL.appName()}` : LL.title();

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL('/opengraph.jpg', Astro.site).toString();
---

<!doctype html>
<html lang="bn" dir="ltr" class="h-full scroll-pt-20 scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="Permissions-Policy" content="interest-cohort=()" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="generator" content={Astro.generator} />

		<SEO
			title={makeTitle}
			description={description}
			canonical={canonicalURL}
			twitter={{
				title: LL.title(),
				description: LL.description(),
				image: 'https://hobenakicoffee.com/twitter-card.jpg',
				imageAlt: 'হবে নাকি Coffee?',
				card: 'summary_large_image',
				site: '@shamscorner-llc',
				creator: '@shamscorner-llc',
			}}
			openGraph={{
				basic: {
					url: canonicalURL,
					type: 'website',
					title: LL.title(),
					image: resolvedImageWithDomain,
				},
			}}
			extend={{
				link: [{ rel: 'icon', type: 'image/svg+xml', href: '/favicon.svg' }],
				meta: [
					{ name: 'keywords', content: keywords },
					{ name: 'author', content: LL.appName() },
					{ name: 'application-name', content: LL.appName() },
					{ name: 'apple-mobile-web-app-title', content: LL.appName() },
					{ name: 'msapplication-TileColor', content: '#faf8f0' },
					{ name: 'theme-color', content: '#faf8f0' },
				],
			}}
		/>

		<Analytics />
	</head>
	<body
		class="bg-background text-foreground selection:bg-primary selection:text-primary-foreground h-full overflow-x-hidden antialiased"
	>
		<NoScripts />

		<div class="grid min-h-full grid-rows-[auto_1fr_auto]">
			{!lonely && <Navbar />}
			<slot />
			{!lonely && <Footer />}
		</div>

		<style is:global>
			/* Improve Page speed */
			/* https://css-tricks.com/almanac/properties/c/content-visibility/ */
			img {
				content-visibility: auto;
			}
		</style>
	</body>
</html>
